SKIP_UPLOAD=0
BACKUP_FOLDER=/tmp/backup/
ENCRYPT_PASSPHRASE_FILE=secret
CONFIG_FILE_FOLDERS=folders.conf
CONFIG_FILE_DBS=dbs.conf
CONFIG_FILE_DROPBOX_UPLOADER=~/.dropbox_uploader
NOTIFICATION_EMAIL_ADDRESS=
DO_CLEANUP_LOCAL=0
DO_CLEANUP_REMOTE=0